.treemap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 7%;
}

.rendered-svg {
  width: inherit;
  height: inherit;
  position: relative;
}
