.header {
  border: 2px solid #ffffff;
  background-color: #f5f3f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 20px;
  position: absolute;
  top: 1.5%;
}

.title {
  color: #635f5d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2em;
}

.title > .b {
  font-weight: bold;
}

.desc {
  color: #8e8b83;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.1rem;
}
