.root {
  height: inherit;
}

.app {
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efecea;
}
